* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}


/* =========================
   HOME PAGE
   ========================= */

.home-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #111; */
    background: #2f0077;
    background: linear-gradient(30deg, #2f0077 0%, #a364e5 100%);
    color: white;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 30px;
    text-align: center;
}

h1 {
    margin-bottom: 40px;
    font-size: 36px;
}

.channels {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 30px;
    justify-content: center;
}

.channel {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 12px;
    overflow: hidden;

    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.channel:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 30px rgba(255, 255, 255, 0.75);
    overflow: visible;
}

.wxluton:hover {
    transform: scale(1.05);
    box-shadow: 0 0px 360px rgba(7, 4, 184, 1);
    overflow: visible;
}

.tbbchnl:hover {
    transform: scale(1.05);
    box-shadow: 0 0px 60px rgb(0, 255, 132);
    overflow: visible;
}

.channel img {
    display: block;
    width: 300px;
    height: 300px;
    object-fit: contain;
}


/* =========================
   STREAM PAGE
   ========================= */

.stream-page {
    min-height: 100vh;
}

.toolbar {
    padding: 10px;
    background: #f5f5f5;
    border-bottom: 1px solid #ccc;
}

.back-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #888;
    border-radius: 5px;
    background: white;
}

.back-button:hover {
    background: #e5e5e5;
}

iframe {
    width: 100%;
    height: calc(100vh - 62px);
    border: none;
    display: block;
}


@media (max-width: 700px) {
    .channels {
        flex-wrap: wrap;
    }

    h1 {
        font-size: 28px;
    }
}
